// *****************
// Global Variables
// *****************

// Spaces
$base-spacing-unit: 20px;

// Border radius
$global-radius: 3px;

// Transition
$global-transition: all .35s;


// *****************
// Color Variables
// *****************
$brand-color: #EEC686; //gold
$dark: #3A444B; //slate
$gray: #bbbbbb;
$second: #4FB0AE; //cheongja
$third: #717548; // jade
$red: #9C1B31; // oxblood
$light-gray: #e6eef0;
$white: #F1E6E4; //seashell
$black: #000000;


//img variables//
$hero-bgd: url("https://www.gabriellegaulin.com/blog/images/Bojagi_multi.jpg") ; //change hero bgd pattern here




// Background Colors
$background-color: $second;

// Body Color
$text-color: $dark;

// Headings
$heading-font-color: $second;

// Links
$link-color: $brand-color;
$link-color-hover: darken($dark, 15%);

// Button
$button-color: $white;
$button-background-color: $brand-color;

// Border
$border-color: $light-gray;


// *****************
// Typography
// *****************
$base-font-size: 16px;
$base-font-style: normal;
$base-font-variant: normal;
$base-font-weight: normal;
$base-font-family: 'Ibarra Real Nova', serif;
$base-line-height: 26px;

// Headings
$heading-font-weight: 700;
$heading-font-family: 'Ibarra Real Nova', serif;

$font-size-h1:  36px;
$font-size-h2:  28px;
$font-size-h3:  24px;
$font-size-h4:  20px;
$font-size-h5:  18px;
$font-size-h6:  16px;

$heading-line-height: 1.2;